<h2>More information about {{model.rental.owner}}'s {{model.rental.type}}</h2>
{{update-rental rental=model.rental update="update"}}
{{rental-detail rental=model.rental destroyRental="destroyRental"}}
